.ukraine {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #32404a;
  height: 50px;
  color: #fff;
  text-transform: capitalize;
  padding: 15px;
  a {
    color: #f2f2f2;
    margin-left: 20px;
  }
}
